@import url("./index.css");

.card{
    max-width: 300px;
    display:flex;
    flex-direction: column;
    background:var(--White);
    padding:15px;
    border-radius:20px;
    margin:0 auto;
    height:480px;
}

.card__image{
    border-radius:20px;
    max-width:300px;
    margin:0 auto;
}

.card__title{
    width:250px;
    margin:20px auto;
    font-size:1.27rem;
    font-weight: var(--FontWeightMedium);
    text-align: center;

}

.card__text{
    width:260px;
    font-size:var(--FontSizeParagraph);
    font-weight: var(--FontWeightNormal);
    color:var(--GrayishBlue);
    margin: 0 auto;
    text-align: center;
    
}

.attribution{
    width:250px;
    display:flex;
    margin:0 auto;

}

.attribution__text{
    display:flex;
    flex-wrap: wrap;
    gap: 0 5px;
    justify-content: center;
    margin:10px auto;
}

.attribution__link{
    width:auto;
    text-decoration: none;
    color:blue
}
.attribution__link:link{
    width:auto;
}
.attribution__link:visited{
    width:auto;
    color:blue

}