:root{
/* SIZES */
--MobileWidth: 375px;
--DesktopWidth: 1440px;

/* COLORS*/
--White: hsl(0, 0%, 100%);
--LightGray: hsl(212, 45%, 89%);
--GrayishBlue: hsl(220, 15%, 55%);
--DarkBlue: hsl(218, 44%, 22%);

/* FONTS */ 
--FontSizeParagraph: 15px;
--FontFamily:Outfit;
--FontWeightNormal: 400;
--FontWeightMedium:700;

}